
*{

    margin: 0;
    padding: 0;
    min-width: none;
    max-width: none;
}

.container{
    height: 100vh;
    width: 100%;
    background: url(nn.jpeg);
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;

}

.navbar{
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
   
    background: linear-gradient(45deg, #d39420, #e25a10,#f0ec11);
    

}
.logo{
    width: 100px;
    height: 100px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 50%;
}

.cart{
    width: 40px;
    width: 40px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 50%;
}

nav{
    flex: 1;
    padding-left: 60px;

}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;

}

nav ul li a{
    text-decoration: none;
    color: #333;
}

.content h1{
    font-size: 60px;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 15px;
    color: #232d60;


}

.content p{
    font-size: 20px;
    color: #6a7199;
}

.content{
    margin-left: 10%;
    margin-top: 10%;
}

.content .btn{
    display: inline-block;
    background: linear-gradient(45deg, #d39420, #e25a10,#f0ec11);
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    box-shadow: 3px 8px 22px rgba(94, 28, 68, 0.15)
}

.btn:hover{
    background:  #e25a10;
    box-shadow: 0 0 5px #e25a10,0 0 25px #e25a10, 0 0 50px #e2cd10, 0 0 200px #d4e210;
}
    .arrow-icons{
    margin-top: 40px;
    display: flex;


}

.arrow-icons p{
    width: 30px;
    margin-right: 55px;
    display: block;

}

.feature{
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 160px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 50%;
    
}



 .social{
     transform: rotate(-90deg);
     position: absolute;
     left: -80px;
     bottom: 180px;
     
 }

 .social a{
     text-decoration: none;
     color: #333;
     padding-right: 20px;
     font-size: 15px;

 }

 .backgroud{
    background: url(nn.jpeg);

 }

 .percorso{
     position: absolute;
     left: 40%;
     font-size: 70px;
     


 }

 
 
 #primosito{
     position: absolute;
     left: 20%;
    margin-left: 15%;
    margin-top: 10%;
    display: inline-block;
    background: linear-gradient(45deg, #d39420, #e25a10,#f0ec11);
    padding: 2px 5px;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    box-shadow: 3px 4px 10px rgba(94, 28, 68, 0.15)
    
    
   
 }
 .immo{
    width: 30%;
    position: absolute;
    bottom: -70%;
    left:31%;
 
   
 }

 .login{
     color: #e25a10;
     position: absolute;
     left: 10%;
 }